<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="M11105506_two_tier.Properties.Settings.M11105506ConnectionString"
            connectionString="Data Source=140.118.105.174,14330;Initial Catalog=M11105506;Persist Security Info=True;User ID=M11105506;Password=7541722"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>